/* Main */
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
}

main article{
    width: 100%;
}

main #about-photo{
    width: 100%;
    height: auto;
    margin-top: 20px;
}