article div.sample{
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
}
article div.text-container{
    grid-row-start: 1;
    grid-row-end: 2;
}
article a:hover{
    text-decoration: none;
}
article a h2:hover{
    color:var(--chrome-yellow);
}
article img.sample{
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 100%;
    max-height: 100%;
}