{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<main>
    <article>
        <h2>Welcome</h2>
        <br>
        <p>
            It’s no surprise that with the amount of information at our disposal also brings a large amount of groupthink, what others think is important, valuable, and how to attain it. Because of this, it’s becoming increasingly important to me to have a continued strong commitment to self-reflection - to have a meaningful life, you need to decide for yourself what is valuable and meaningful for you.
        </p>
        <br>
        <p>
            I’m not going to pretend I have all the answers because there’s not a single person who does. That’s really what this blog is about, it’s a journey to try discover these metaphorical truths..
        </p>
        <br>
        <p>
            I’m an aspiring data scientist/engineer. I enjoy deep-diving into various computer topics, reinforcement learning, AI games, and systems architecture and various non-computer topics, psychology, philosophy, self-improvement.
        </p>
        <br>
        <br>
        <br>
        <p>
            <b>Roger</b>
        </p>
    </article>
    <img src="{{ url_for('static', filename='assets/images/rogerphoto.png') }}" id="about-photo">
</main>
{% endblock %}